

.breadcrumb {
	text-align: center;
	padding: 40px 0 0;
	margin: 0;
	background: transparent;

	//padding: 0;
	//margin: 0;
	width: 100%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a, a:visited, a:hover, a:focus{
		color: #686868;
	}
	span{
		margin: 0 10px;
	}
	span:first-child{
		margin-left: 0;
	}
	span:last-child{
		margin-right: 0px;
	}
	/*ul {
		padding: 0;
		margin: 0;
		width: 100%;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			font-size: 1.6rem;
			font-family: $font3;
			font-weight: 400;
			color: #686868;
			position: relative;
			+ li {
				padding-left: 10px;
				margin-left: 5px;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: '-';
				}
			}
		}
	}*/
}

/*
@media all and (max-width: 991px) {
	.breadcrumb {
		ul {
			li {
				font-size: 1.6rem;
			}
		}
	}
}*/
