

.enquiry-form {
	text-align: center;
	h2 {
		font-size: 4.7rem;
		font-weight: 400;
		font-family: $font3;
		color: #686868;
		margin-bottom: 50px;
	}
	form {
		.form-group {
			margin-bottom: 30px;
			.form-control {
				height: 97px;
				background: $white;
				border-radius: 0;
				outline: none;
				box-shadow: none;
				border: 0;
				padding: 0 50px;
				font-size: 2.9rem;
				font-family: $font3;
				font-weight: 400;
				color: #686868;
			}
			textarea.form-control {
				height: 400px;
				padding-top: 20px;
			}
		}
		.custom-checkbox {
			text-align: left;
			.custom-control-input {
				outline: none;
				box-shadow: none;
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			.custom-control-label,
			.wpcf7-list-item-label{
				position: relative;
				font-size: 2.9rem;
				font-family: $font3;
				font-weight: 200;
				color: #686868;
				padding-left: 60px;
				&:before {
					height: 48px;
					width: 48px;
					border-radius: 0;
					border: 0;
					background: $white;
					outline: none;
					box-shadow: none;
					position: absolute;
					left: 0;
					top: -6px;
				}
			}
			.custom-control-input:checked+.custom-control-label,
			.custom-control-input:checked+.wpcf7-list-item-label {
				&:before {
					background: #64666B;
				}
				&:after {
					height: 30px;
					width: 30px;
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
					position: absolute;
					left: 9px;
					top: 0px;
					position: absolute;
					display: block;
				}
			}
		}
		.btn {
	    	margin-top: 50px;
		}
	}
}


@media all and (max-width: 991px) {
	.enquiry-form {
		h2 {
			font-size: 3.0rem;
			margin-bottom: 30px;
		}
		form {
			.form-group {
				margin-bottom: 20px;
				.form-control {
					height: 50px;
					padding: 0 20px;
					font-size: 1.6rem;
				}
				textarea.form-control {
					height: 200px;
					padding-top: 13px;
				}
			}
			.custom-checkbox {
				.custom-control-label,
				.wpcf7-list-item-label {
					font-size: 1.6rem;
					padding-left: 30px;
					&:before {
						height: 30px;
						width: 30px;
						left: -5px;
					}
				}
				.custom-control-input:checked+.custom-control-label,
				.custom-control-input:checked+.wpcf7-list-item-label{
					&:after {
						height: 15px;
						width: 15px;
						left: 2px;
						top: 1px;
					}
				}
			}
			.btn {
				font-size: 1.6rem;
				margin-top: 30px;
			}
		}
	}
}


 @media all and (max-width: 575px) {
	.enquiry-form form {
		.btn-100 {
			display: block;
			width: 100%;
		}
	}
}