$fontColor: #686868;
$white: #ffffff;
$black: #000000;

$font1: 'Libre Baskerville', serif;
//$font1: 'Libre Caslon Text', serif;
//$font2: 'Baskervville', serif;
$font3: 'Montserrat', sans-serif;
 